@font-face {
  font-family: "Indie";
  src: url("../fonts/IndieFlower-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

/*Extracción de componentes*/

.ficha-componente {
  @apply text-center pr-2 pb-2 w-1/3 font-main;
}

.img-ficha-componente {
  @apply md:w-4/5 h-auto rounded m-auto;
}

.tittle-main {
  @apply font-bold text-3xl text-center pb-10 font-tittle;
}
